:root{
    --color: #1f1463;
    --color2: #ff5f00;
    --color3: #ffb900;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:whitesmoke;
    color: var(--color);
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockColumn{
    flex-direction: column;
}
button{
    background:var(--color2);
    color :white;
    border-radius: 8px;
    border: none;
    width:100%;
    margin: 4px 0px;
}
button:hover{
    background-color: var(--color3);
    color: var(--color);
}

/* post section  */
.block1::before{
    content: '';
    height: 100vh;
    width: 100%;
    position:absolute;
    background: url(https://demo.graygrids.com/themes/jobboard-demo/assets/img/bg/bg-intro.jpg) center center no-repeat;
    z-index: -1;
}
.block1
{
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 1;
    color: var(--color);
    margin: 0px !important;
    align-items: flex-start;
}
.block1 h2{
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0px;
    letter-spacing: -1px;
}

.block1 h1{
    font-weight: 700;
    font-size: 50px;
    margin: 10px 0px;
    letter-spacing: 0.7px;
    line-height: 30px;
}
aside{
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(1, 0, 7, 0.377);
}
span{
    margin: 2px 10px;
}
aside span{
    font-size: 90%;
    margin: 2px 5px;
}
aside span:hover{
    color: var(--color2);
}
 input{
    border-radius: 8px;
    padding: 3px 5px;
    border: 0.5px solid var(--color);
    accent-color: var(--color);
}
input::placeholder{
    color: var(--color);
}

.post{
    border-radius: 20px;
    background:white;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(1, 0, 7, 0.185)
}
.post:hover{
    box-shadow: 0 4px 10px rgba(1, 0, 7, 0.418)
}
.post .marginSpan a{
    text-decoration: none;
    font-size: 70%;
    background-color: var(--color2);
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
}
.marginSpan{
    margin: 2px 4px !important;
}
.post .marginSpan a:hover{
    color: var(--color);
    background-color: var(--color3);
}
.post h4 a{
    text-decoration: none;
    padding: 0px;
    background-color: transparent;
    font-size: 100%;
    color: var(--color);
}
.post h4 a:hover{
   color: var(--color2);
   background-color: transparent;
}




/* media  */
@media (max-width:991px) {
    aside{
        height: fit-content;
    }
}
@media (max-width:800px) {
    .postBlock{
        width: 90vw;
    }
    .block1 h1{
        font-size: 40px;
    }
    .block1 h2{
        font-size: 28px;
    }
}
@media (max-width:600px) {
    .post{
        flex-direction: column;
    }
    .btnBlock{
        flex-direction: row;
    }
    button{
        width: 100px;
        margin: 0px 4px;
    }
    .detailsBlock{
        flex-direction: column;
    }
    .block1 h1{
        font-size: 38px;
    }
    .block1 h2{
        font-size: 27px;
    }
}
@media (max-width:450px) {
    .postBlock{
        width: 98vw;
    }
    body{
        font-size: 80%;
    }
    .post img{
        height: 4rem;
        width: 4rem;
    }
    .block1 h1{
        font-size: 35px;
    }
    .block1 h2{
        font-size: 26px;
    }
    .inputBlock{
        flex-direction: column;
    }
    #jobtype{
        margin: 5px 0px !important;
    }
}