:root{
    --color: #1f1463;
    --color2: #ff5f00;
    --color3: #ffb900;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--color);
    color: white;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockColumn{
    flex-direction: column;
}
button{
    background:var(--color2);
    color :white;
    border-radius: 8px;
    border: none;
    width:100%;
    margin: 4px 0px;
}
button:hover{
    background-color: var(--color3);
    color: var(--color);
}

/* post section  */
aside{
    width: 20vw;
    height:100vh;
    
}
.postBlock{
    width: 80vw;
}
.post div span{
    margin: 2px 10px;
}
.post{
    border-radius: 20px;
    background:rgba(1, 0, 7, 0.226);
    justify-content: space-between;
}
.post:hover{
    background:rgba(1, 0, 7, 0.384);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.582);
}
.post a{
    text-decoration: none;
    font-size: 70%;
    background-color: var(--color3);
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--color);
}
.marginSpan{
    margin: 2px 4px !important;
}
.post a:hover{
    color: var(--color2);
    background-color: var(--color);
}
.post h4 a{
    padding: 0px;
    background-color: transparent;
    font-size: 100%;
    color: var(--color2);
}
.post h4 a:hover{
   color: var(--color3);
   background-color: transparent;
}




/* media  */
@media (max-width:800px) {
    .postBlock{
        width: 90vw;
    }
}
@media (max-width:600px) {
    .post{
        flex-direction: column;
    }
    .btnBlock{
        flex-direction: row;
    }
    button{
        width: 100px;
        margin: 0px 4px;
    }
}
@media (max-width:450px) {
    .postBlock{
        width: 98vw;
    }
    body{
        font-size: 80%;
    }
    .post img{
        height: 4rem;
        width: 4rem;
    }
}