:root{
    --color: #1f1463;
    --color2: #ff5f00;
    --color3: #ffb900;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:white;
    color: var(--color);
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockColumn{
    flex-direction: column;
}
button{
    background:var(--color2);
    color :white;
    border-radius: 8px;
    border: none;
    width:100%;
    margin: 4px 0px;
}
button:hover{
    background-color: var(--color3);
    color: var(--color);
}

/* post section  */
aside{
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(1, 0, 7, 0.377);
}
span{
    margin: 2px 10px;
}
aside span{
    font-size: 90%;
    margin: 2px 5px;
}
aside span:hover{
    color: var(--color2);
}
aside input{
    border-radius: 8px;
    padding: 3px 5px;
    accent-color: var(--color);
    border: 0.5px solid var(--color);
}

.post{
    border-radius: 20px;
    background:white;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(1, 0, 7, 0.377)
}
.post:hover{
    box-shadow: 0 4px 10px rgba(1, 0, 7, 0.568)
}
.post .marginSpan a{
    text-decoration: none;
    font-size: 70%;
    background-color: var(--color2);
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
}
.marginSpan{
    margin: 2px 4px !important;
}
.post .marginSpan a:hover{
    color: var(--color);
    background-color: var(--color3);
}
.post h4 a{
    text-decoration: none;
    padding: 0px;
    background-color: transparent;
    font-size: 100%;
    color: var(--color);
}
.post h4 a:hover{
   color: var(--color2);
   background-color: transparent;
}




/* media  */
@media (max-width:991px) {
    aside{
        height: fit-content;
    }
}
@media (max-width:800px) {
    .postBlock{
        width: 90vw;
    }
}
@media (max-width:600px) {
    .post{
        flex-direction: column;
    }
    .btnBlock{
        flex-direction: row;
    }
    button{
        width: 100px;
        margin: 0px 4px;
    }
    .detailsBlock{
        flex-direction: column;
    }
}
@media (max-width:450px) {
    .postBlock{
        width: 98vw;
    }
    body{
        font-size: 80%;
    }
    .post img{
        height: 4rem;
        width: 4rem;
    }
}